body {
  display: flex;
  flex-flow: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.header{
  display: flex;
  flex-flow: column;
  }

.first {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex: 1 1 100px;
  align-items: flex-start;
  gap: 200px;
  background-color:#1f2937;
 }

.logo {
  display:flex;
  gap:8px;
  align-self: flex-start;
  margin-top: 8px;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  color: f9faf8;
  }

.links {
  display: flex;
  list-style: none;
  gap: 8px;
  font-size: 18px;
  color: #e5e7eb;
  align-self: flex-start;
  margin-top: 10px;
  }

.first-second{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 0px;
  flex: 1 1 250px;
  background-color:#1f2937;
  }

.awesome {
  
  display: flex;
  flex-flow: column;
  width:300px;
  margin-right: 0px;
  margin-left:10px;
  background-color:#1f2937;
  color: white;
 }

.is-awesome {
font-size:48px;
font-weight: bolder;
line-height: 40px;
}

.why-awesome{
font-size: 18px;
color: #e5e7eb;
display: flex;
flex-flow: wrap;
background-color:#1f2937;
color: white;
color:lightgrey;
}

.first-second-img {
  display: flex;
  flex: 0 1 500px;
  height: 170px;
  background-color:grey;
  margin-right:10px;
  
   }

button {
  align-self: flex-start;
background-color:#3882f6;
color:white;
border: none;
width:100px;
font-size:12px;
font-weight:bold;
margin-top:8px;
flex: 0 1 20px;
outline-style:auto;
}

.second {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 275px;
  gap: 40px;
  
}

.random {
  color:#1f2937;
  margin-top: 32px;
  font-size: 36px;
  font-weight:bolder;
}

.boxes {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.box1,.box2, .box3, .box4 {
  display: flex;
  flex-flow: column;
  gap: 6px;
 }

.box-img {
  border-width: 2px;
  border-color: rgb(0, 144, 255);
  border-radius:10px;
  border-style:solid;
  display: flex;
  height: 100px;
  width: 120px;
  }

.subtext {
  font-size: 14px;
}



.third {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:center;;
  flex: 1 1 275px;
  background-color: #e5e7eb;
  }

.quote-body {
display: flex;
flex-flow:column;
}

.quote {
background-color: #e5e7eb;
font-style: italic;
font-size: 36px;
font-weight:lighter;
  }

.credit {
  align-self: flex-end;
  font-weight: bold;
}

.fourth {

display: flex;
justify-content: center;
align-items: center;
flex: 1 1 200px;
}

.container {
background-color:#3882f6;
display:flex;
width: 800px;
justify-content: space-around;
align-items: center;
height: 75px;
outline-style: auto;
  
  
  
}

.container-info {
background-color:#3882f6;
color:white;
}

.container-info-two {
  background-color:#3882f6;
  

}

.line-one {
  font-weight: bold;
  font-size: 15px;
}

.line-two {
  font-size: 15px;
  color: whitesmoke;
}

.button {
background-color:#3882f6;
align-self: center;
color: white;
flex: 0 1 100px;
border-width: 2px;
border-color: whitesmoke;
border-radius:1px;
border-style:solid;
}

.fifth {
background-color:#1f2937;
display:flex;
justify-content: center;
align-items:center;
flex: 1 1 50px;
} 

.fifth-info {
color:white;
font-size: 10px;
}
  

  
